.home-nav {
  background-color: rgb(245, 245, 245);
}

.select {
  display: flex;
  Justify-content: center;
  padding-top: 20px;
}

.select button {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  border: 0;
  transform: scale(1.5);
  cursor: pointer;
}

.select button.active {
  background-color: #2E9AFE !important;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.select button.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto;
  width: 0;
  height: 0;
  border-top: 5px solid #2E9AFE;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.home-nav>.active {
  display: block;
}

.home-nav>.disabled {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
}

.content>div {
  display: flex;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  margin: 30px 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.content>div:first-child {
  display: flex;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #2E9AFE;
  background-color: white;
  margin: 30px 10px;
}

.content p {
  margin: 5px 0;
}

.content input {
  margin: 5px 0;
  border: 0;
}

.person input {
  width: 100px;
}

.content button {
  width: 90px;
  height: 90px;
  margin: auto 0;
  border-radius: 10px;
  border: 1px solid #2E9AFE;
  background-color: #2E9AFE;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.food input {
  width: 400px;
}

.foodbutton {
  width: 59px !important;
  height: 59px !important;
}

.youtube {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-color: black;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.youtubeplayer {
  width: 100%;
  height: 120vh;
  position: relative;
  z-index: 0;
  top: -50%;

}

.overflow {
  position: absolute;
  z-index: 2;
  margin: 150px;
  color: #fff;
  font-size: 20px;
}

.overflow p:last-child {
  font-size: 15px;
  text-align: center;
}

.promotion {
  margin-top: 100px;
}

.promotion h2 {
  text-align: center;
}

.promotion .swiper {
  width: 1260px;
  height: 230px;
}

.promotion .swiper .swiper-slide {
  text-align: center;
  background: #fff;
}

.promotion .swiper .swiper-slide img{
  width: 400px;
  height: 200px;
  border-radius: 30px;
}


.tema {
  margin-top: 100px;
}

.tema h2 {
  text-align: center;
}


.tema .swiper {
  width: 1260px;
  height: 700px;
  margin-bottom: 100px;
}

.tema .swiper .swiper-slide {
  text-align: center;
  background: #fff;
}

.tema .swiper .swiper-slide img{
  width: 400px;
  height: 700px;
  border-radius: 30px;
}
