@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.nav-top {
  min-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245)
}

.nav-top img{
  width: 100px;
  position: relative;
  left: 15px;
  cursor: pointer;
}

.nav-center{
  display: flex;
  margin: 50px calc((100% - 1100px) / 2);
}

.nav-center li {
  list-style: none;
  padding: 0 20px;
  font-family: 'Jua', sans-serif;
  font-size: 23px;
  cursor: pointer;
}

.nav-center li:hover {
  color: #2E9AFE;
}

.line {
  padding: 0 !important;
  margin: 0 10px !important;
  font-family: 'Jua', sans-serif;
  color: black!important;
  cursor: default!important;
}

.nav-right {
  display: contents;
  margin: 30px 0;
  font-size: 15px;
  font-family: 'Jua', sans-serif;
  display: flex;
  color: #acacac;
  cursor: pointer;
}

.nav-right p {
  margin: 0 15px 0 0;
  padding: 1px 5px;
}

.footer-manu{
  position: relative;
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.footer-manu > ul{
  display: flex;
  list-style: none;
}

.footer-manu > ul h6{
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0;
}

.footer-manu > ul > li{
  width: 130px;
  padding: 20px;
}

.footer-manu > ul ul{
  list-style: none;
  padding: 0;
}

.footer-manu > div{
  position: absolute;
  right: 50px;
  width: 200px;
}

.footer-manu > div h6{
  font-size: 30px;
  font-weight: 900;
  margin: 40px 0 20px 0; 
}

.footer-manu > div div {
  display: flex;
}

.footer-manu > div div p{
  margin: 0;
}

.footer-manu > div div p:last-child{
  position : absolute;
  right: 0;
}

.footer {
  background-color: rgb(33, 35, 126);
  padding: 50px;
}

.footer .inner{
  width: 1200px;
  margin: 0 auto;
}

.footer .inner p{
  color: rgb(205, 225, 255);
  font-size: 12px;
  font-weight: 600;
}

footer{
  border-top: 1px solid rgb(209, 209, 209);
}